{% load static %}
<!-- Recent game section  -->
<section class="recent-game-section spad set-bg" data-setbg="{% static 'img/recent-game-bg.png' %}">
    <div class="container">
        <div class="section-title">
            <div class="cata new">new</div>
            <h2>Recent Games</h2>
        </div>
        <div class="row">
            {% for recent in recent_games %}
                <div class="col-lg-4 col-md-6">
                    <div class="recent-game-item">
                        <div class="rgi-thumb set-bg" data-setbg="{{ recent.image.url }}">
                            <div class="cata {{ recent.genre }}">{{ recent.genre }}</div>
                        </div>
                        <div class="rgi-content">
                            <h5>{{ recent.title }}</h5>
                            <p>{{ recent.text }}</p>
                            <a href="#" class="comment">3 Comments</a>
                            <div class="rgi-extra">
                                <div class="rgi-star"><img src="{% static 'img/icons/star.png' %}" alt=""></div>
                                <div class="rgi-heart"><img src="{% static 'img/icons/heart.png' %}" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Recent game section end -->