{% load static %}
<!-- Tournaments section -->
<section class="tournaments-section spad">
    <div class="container">
        <div class="tournament-title">Tournaments</div>
        <div class="row">

            {% for tournament in tournament_games|slice:":2" %}
                <div class="col-md-6">
                    <div class="tournament-item mb-4 mb-lg-0">
                        <div class="ti-notic">Premium Tournament</div>
                        <div class="ti-content">
                            <div class="ti-thumb set-bg" data-setbg="{{ tournament.image.url }}"></div>
                            <div class="ti-text">
                                <h4>{{ tournament.title }}</h4>
                                <ul>
                                    <li><span>Tournament Beggins:</span> {{ tournament.start_date }}</li>
                                    <li><span>Tounament Ends:</span> {{ tournament.end_date }}</li>
                                    <li><span>Participants:</span> {{ tournament.participants_count }} teams </li>
                                    <li><span>Tournament Author:</span> {{ tournament.author }}</li>
                                </ul>
                                <p><span>Prizes:</span> 1st place ${{ tournament.first_place_prize }}, 2nd place: ${{ tournament.second_place_prize }}, 3rd place: ${{ tournament.third_place_prize }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- Tournaments section bg -->