{% load static %}
<!-- Page section -->
<section class="page-section recent-game-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-md-6">
                            <div class="recent-game-item">
                                <div class="rgi-thumb set-bg" data-setbg="{{ article.image.url }}">
                                    <div class="cata {{ article.genre.name }}">{{ article.genre.name }}</div>
                                </div>
                                <div class="rgi-content">
                                    <h5>{{ article.title }}</h5>
                                    <p>{{ article.text }}</p>
                                    <a href="#" class="comment">3 Comments</a>
                                    <div class="rgi-extra">
                                        <div class="rgi-star"><img src="{% static 'img/icons/star.png' %}" alt=""></div>
                                        <div class="rgi-heart"><img src="{% static 'img/icons/heart.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if paginator.num_pages > 1 %}
                    {# Pagination #}
                    {% include 'blog/../common/pagination.html' %}
                {% endif %}

            </div>
            <!-- sidebar -->
            <div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0">
                <!-- widget -->
                <div class="widget-item">
                    <form class="search-widget">
                        <input type="text" placeholder="Search">
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- widget -->
                <div class="widget-item">
                    <h4 class="widget-title">Latest Posts</h4>
                    <div class="latest-blog">

                        {% for article in articles|slice:":3" %}
                            <div class="lb-item">
                                <div class="lb-thumb set-bg" data-setbg="{{ article.image.url }}"></div>
                                <div class="lb-content">
                                    <div class="lb-date">{{ article.created_at }}</div>
                                    <p>{{ article.title }}</p>
                                    <a href="#" class="lb-author">By Admin</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% if articles|length >= 4 %}
                    <!-- widget -->
                    <div class="widget-item">
                        <h4 class="widget-title">Top Comments</h4>
                        <div class="top-comment">
                            <div class="tc-item">
                                <div class="tc-thumb set-bg" data-setbg="{% static 'img/authors/1.jpg' %}"></div>
                                <div class="tc-content">
                                    <p><a href="#">James Smith</a> <span>on</span> Lorem consec ipsum dolor sit amet, co
                                    </p>
                                    <div class="tc-date">June 21, 2018</div>
                                </div>
                            </div>
                            <div class="tc-item">
                                <div class="tc-thumb set-bg" data-setbg="{% static 'img/authors/2.jpg' %}"></div>
                                <div class="tc-content">
                                    <p><a href="#">Michael James</a> <span>on</span>Cras sit amet sapien aliquam</p>
                                    <div class="tc-date">June 21, 2018</div>
                                </div>
                            </div>
                            <div class="tc-item">
                                <div class="tc-thumb set-bg" data-setbg="{% static 'img/authors/3.jpg' %}"></div>
                                <div class="tc-content">
                                    <p><a href="#">Justin More</a> <span>on</span> Lorem ipsum dolor consecsit amet, co
                                    </p>
                                    <div class="tc-date">June 21, 2018</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if articles|length >= 8 %}
                    <!-- widget -->
                    <div class="widget-item">
                        <div class="feature-item set-bg" data-setbg="{% static 'img/features/1.jpg' %}">
                            <span class="cata new">new</span>
                            <div class="fi-content text-white">
                                <h5><a href="#">Suspendisse ut justo tem por, rutrum</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                <a href="#" class="fi-comment">3 Comments</a>
                            </div>
                        </div>
                    </div>
                    <!-- widget -->
                    <div class="widget-item">
                        <div class="review-item">
                            <div class="review-cover set-bg" data-setbg="{% static 'img/review/1.jpg' %}">
                                <div class="score yellow">9.3</div>
                            </div>
                            <div class="review-text">
                                <h5>Assasin’’s Creed</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Page section end -->